<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <style>
      @font-face { font-family: BLMelody-Medium; src: url('../fonts/BLMelody-Medium.woff'); } 
      * {
        font-family: BLMelody-Medium, sans-serif;
      }

      body {
        background-color: #005640;
      }

      .color {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid white;
      }

      .cookie img {
        width: 60px;
        height: 60px;
      }
    </style>
  </head>
  <body>
    <div id="emojis"></div>
    
    <!-- Pick a cookie -->
    <div
      style="
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
      "
    >
      <div
        class="cookie"
        data-cookie="trefoil"   
      >
      <img src="https://cloud-emfyqm8qq-hack-club-bot.vercel.app/0meetthecookies-graphics-hybridshortbreadtrefoils-255x255-removebg-preview.png">
    </div>
      <div
        class="cookie"
        data-cookie="mints"
      ><img src="https://cloud-bhqeopk9o-hack-club-bot.vercel.app/0meetthecookies-graphics-hybridthinmints-255x255-removebg-preview.png"></div>
      <div
        class="cookie"
        data-cookie="rally"
      ><img src="https://cloud-7mz9k98s6-hack-club-bot.vercel.app/0meetthecookies-graphics-hybrid-raspberryrally-255x255-removebg-preview.png"></div>
      <div
        class="cookie"
        data-cookie="samoas"
      >
      <img src="https://cloud-jg0f0l7o3-hack-club-bot.vercel.app/0meetthecookies-graphics-hybridsamoascarameldelites-255x255-removebg-preview.png">
    </div>
      <div
        class="cookie"
        data-cookie="adventures"
      ><img src="https://cloud-hq85263e2-hack-club-bot.vercel.app/0meetthecookies-graphics-hybridadventurefuls-255x255-removebg-preview.png"></div>
    </div>
    <!-- Color picker -->
    <div
    style="
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;
    "
  >
    <div
      class="color"
      data-color="#005640"
      style="background-color: #005640"
    ></div>
    <div
      class="color"
      data-color="#f7be00"
      style="background-color: #f7be00"
    ></div>
    <div
      class="color"
      data-color="#7A4E15"
      style="background-color: #7A4E15"
    ></div>
    <div
      class="color"
      data-color="#dda15e"
      style="background-color: #dda15e"
    ></div>
    <div
      class="color"
      data-color="#f9a620"
      style="background-color: #f9a620"
    ></div>
  </div>
    <form id="message">
      <input
        type="text"
        name="message"
        style="
          width: 300px;
          margin: 0 auto;
          display: block;
          background-color: rgb(47, 47, 47);
          border-radius: 999px;
          padding: 10px 15px;
          margin-top: 20px;
          border: none;
          color: white;
        "
        placeholder="Enter a message..."
        required
      />
    </form>

    <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      
      const socket = io();

      const picker = new EmojiMart.Picker({
        onEmojiSelect({ native: emoji }) {
          socket.emit("emoji", emoji);
        },
      });

      picker.style.margin = "0 auto";

      document.getElementById("emojis").appendChild(picker);
      const colors = document.getElementsByClassName("color");

      for (let i = 0; i < colors.length; i++) {
        const element = colors[i];

        element.addEventListener("click", function () {
          const { color } = this.dataset;

          socket.emit("color", color);
        });
      }

      const cookies = document.getElementsByClassName("cookie");
      for (let i = 0; i < cookies.length; i++) {
        const element = cookies[i];

        element.addEventListener("click", function () {
          const { cookie } = this.dataset;
          socket.emit("cookie", cookie);
        });
      }

      document.getElementById("message").addEventListener("submit", (e) => {
        e.preventDefault();
        socket.emit("message", e.target.message.value.trim());
        e.target.reset();
      });
    </script>
  </body>
</html>
